@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Permanent+Marker&display=swap');

:root {
  --font-family-modak: 'Modak', cursive;
  --font-family-chakra-petch: 'Chakra Petch', sans-serif;
  --font-family-permanent-marker: 'Permanent Marker', cursive;
  --font-weight-normal: 100;
  --font-weight-bold: 700;
}